@page "/home"
<link href="css/home.css" rel="stylesheet" />

<PageTitle>Home</PageTitle>

<h1>Hello, farmer!</h1>


<br/>

<label for="tents">Select a tent:</label>

<select name="tents" id="tents">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>





<div class="components-section">
    <div class="container">
        <h2>Components</h2>
 
    </div>
</div>

<div class="sensor-section">
    <div class="container">
        <h2>Sensor Data</h2>

        PH<br>
        Temperature<br>
        Humidity<br>
        Flow rate<br>
        EC<br>
    </div>
</div>







@code {

    //Add code to grab tents for farmer
}
